*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.dat

/.DS_Store
.DS_Store
/target/
.project
.classpath
.metadata
.settings
.item-project
.tern-project
db.lck
logmirror.ctrl
derby.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.DS_Store
